@tailwind base;
@tailwind components;
@tailwind utilities;
:root{ color-scheme: light; }
html, body { height: 100%; }
@supports (padding: env(safe-area-inset-bottom)) { body { padding-bottom: calc(env(safe-area-inset-bottom) + 8px); } }
input, select, textarea { background-color:#fff !important; color:#111 !important; font-size:16px; }
